
    <div class="row">
      <div class="col-xs-2">
    <input  [(ngModel)]="FilterText" (keyup)="filterData()" type="text" class="searchbox" placeholder="Search here..">
      </div>
      
    </div>
    <div class="len">
      <label for="">Total no. of tasks: {{this.lengthhh}}</label>
    </div>
    <!-- </div> -->
    <div class="container">
    <!-- <div class="mat-elevation-z8"> -->
    
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" >
    
    
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef >Project Name </th>
        <td mat-cell *matCellDef="let element" >{{element.projectName}} </td>
    
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="taskName">
        <th mat-header-cell *matHeaderCellDef> Task </th>
        <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="reportingManager">
        <th mat-header-cell *matHeaderCellDef> Reporting Manager </th>
        <td mat-cell *matCellDef="let element"> {{element.reportingManager}} </td>
      </ng-container>
    
      <ng-container matColumnDef="currentstatus">
        <th mat-header-cell *matHeaderCellDef> currentstatus </th>
        <td mat-cell *matCellDef="let element"> 
          <div *ngIf="this.element.status==''">
            <button class="btn btn-danger btn-sm text-white"> Unseen </button>
          </div>
          <div *ngIf="this.element.status==1">
            <button class="btn btn-info btn-sm text-white"> Started </button>
          </div>
          <div *ngIf="this.element.status==25">
            <button class="btn btn-primary btn-sm text-white"> 25% </button>
          </div>
          <div *ngIf="this.element.status==50">
            <button class="btn btn-warning btn-sm text-white"> 50% </button>
          </div>
          <div *ngIf="this.element.status==75">
            <button class="btn btn-green btn-sm text-white"> 75% </button>
          </div>
          <div *ngIf="this.element.status==100">
            <button class="btn btn-success btn-sm text-white"> Completed </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="updatestatus">
        <th mat-header-cell *matHeaderCellDef> Update Status </th>
        <td mat-cell *matCellDef="let element"> <a routerLink="/updatestatus/{{element._id}}"><button mat-icon-button color="dark" class="example-icon"  aria-label="Example icon-button with share icon" >
          <mat-icon>update</mat-icon>
      </button></a>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
    </mat-paginator>
    
    <ng-template pTemplate="paginatorleft" let-providerList>
      <span>
              {{'Showing'}} {{providerList.totalRecords < 1 ? 0 : providerList.first + 1}} {{'to'}}
        {{providerList.totalRecords > 0 ? ((providerList.rows+ providerList.first) <= providerList.totalRecords ? (providerList.rows + providerList.first) :  providerList.totalRecords) : 0}}
    {{'of'}} {{providerList.totalRecords ? providerList.totalRecords : 0}} {{'records'}} </span>
    </ng-template>
    <!-- </div> -->
    </div>