.example-spacer {
    flex: 1 1 auto;
  }
  

/* .titile{
    margin-top: 3rem;
} */

.example-spacer {
  flex: 1 1 auto;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.submitbtm{
  width: 160px;
  background-color: #4c4eb8fc;
  justify-content: center;
  margin: 8px 8px 8px 0;
}
input[type=text],input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  width: 98%;
  height: 2.8rem;}

  .card-title{
      font-size: 16px;
  }
  .card{
    width: 46rem;
    position: absolute;
    left: 17rem;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .newcontainer{
    height: 100%;
    margin-left: 8px;
  }

  .mat-sidenav-container {
    height: 100%;
 }
  mat-sidenav-container mat-sidenav mat-nav-list .menu-item {
    margin-left: 8px;
 }
  mat-sidenav-container mat-sidenav mat-nav-list .chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
 }
  mat-sidenav-container mat-sidenav mat-nav-list .chevron-button.rotated {
    transform: rotate(180deg);
 }
 .mat-drawer {
  background-color: #3f51b5;
  color: rgb(80 77 77 / 87%);
}

.mat-list-base .mat-list-item {
  color: white;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  margin-left: 52rem;
}

button.mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base {
  position: absolute;
  left: 74rem;
}
body{
  margin-top:20px;
  background-color: #f0f2f5;
}
.dropdown-list-image {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
}
.dropdown-list-image img {
  height: 2.5rem;
  width: 2.5rem;
}
.btn-light {
  color: #2cdd9b;
  background-color: #e5f7f0;
  border-color: #d8f7eb;
}
.dt{
  position: absolute;
    left: 60rem;
}
.dt1{
  position: absolute;
    left: 60rem;
    margin-top: 1.5rem;
}
.noti{
  position: relative;
left: 1rem;
top: -0.5rem;
    font-size: 1rem;
}