<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Add your plan here</h5>
                <!-- <h6 class="card-subtitle text-muted">Bootstrap column layout.</h6> -->
            </div>
            <div class="card-body">
              <form [formGroup]="addPlan" (ngSubmit)="Submit()">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="planName"  [(ngModel)]="planService.selectedPlan.planName" name="planName"
                  placeholder="Plan Name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="price"  [(ngModel)]="planService.selectedPlan.price" name="price"
                    placeholder="Price" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="minEmployee"  [(ngModel)]="planService.selectedPlan.minEmployee" name="minEmployee"
                    placeholder="minEmployee" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="maxEmployee"  [(ngModel)]="planService.selectedPlan.maxEmployee" name="maxEmployee"
                    placeholder="maxEmployee" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="features"  [(ngModel)]="planService.selectedPlan.features" name="features"
                    placeholder="Features " required>
                  </div>

                  <div class="text-center">
                  <button type="submit" class="submitbtm btn btn-info text-center text-white ">Save</button>
                  <!-- <input class="text-center" type="submit" value="add empoyee"> -->
               </div>
              </form> 
                
                <!-- Success message-->
                <div class="success" *ngIf="showSucessMessage">
                  Saved successfully
                </div> 
                
                <!-- Error message -->
                 <div class="alert" *ngIf="serverErrorMessages">
                  {{serverErrorMessages}}
                </div>   
                
                
            </div>
        </div>
    </div>

</div>

