<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Employee Management System</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->
<div class="wrapper">
  <div id="formContent">
    <h2 class="underlineHover line"  routerLink="/login"  routerLinkActive="active"> Sign In </h2>
    <!-- <br> -->
    <h2 class="underlineHover line"  routerLink="/signup"  routerLinkActive="active">Sign Up </h2>
    <!-- <br> -->
    <h2 class="underlineHover line"  routerLink="/employeelogin"  routerLinkActive="active">Employee Login </h2>

    <router-outlet></router-outlet>
  </div>
</div>