table {
    width: 91%;
    margin-left: 3rem;
    
    }
    
  th{
    background-color: #3f51b5;
    text-align: center;
    font-size: 1rem;
  
  }
  .mat-header-cell {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .mat-cell{
    text-align: center;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-paginator{
    width: 91%;
    margin-left: 3rem;
  }
  
  .row{
    width: 20%;
    
    margin-left: 4.8rem;
    
  }
  
  
  input.searchbox.ng-pristine.ng-valid.ng-touched {
    position: absolute;
    top: 7rem;
    width: 14%;
    height: 5%;
    border: solid black 1px;
  }
  
  .len{
    position: relative;
    left: 55rem;
    font-weight: 500;
  }

  .btn-green{
    background-color: #43da1e;
  color: white;
  }