
      <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Add your plan features here</h5>
                    <!-- <h6 class="card-subtitle text-muted">Bootstrap column layout.</h6> -->
                </div>
                <div class="card-body">
                  <form [formGroup]="addfeature" (ngSubmit)="Submit()">
                    <!-- <div class="form-group">
                      <input type="text" class="form-control" formControlName="planName"  [(ngModel)]="featureService.selectedFeature.planName" name="planName"
                      placeholder="plan Name" required>
                    </div> -->

                    <div class = "form-group">
                      <select class = "form-control" formControlName="planName" [(ngModel)]="featureService.selectedFeature.planName" name ="planName">
                        <option value="" class="text-center" disabled selected >Choose Plan</option>
                        <option *ngFor="let m of getFeatures" [value]="m">{{m}}</option>

                      </select>
                   </div>
                  

                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="planFeature"  [(ngModel)]="featureService.selectedFeature.planFeature" name="planFeature"
                      placeholder="Feature url" required>
                    </div>

                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="planFeatureName"  [(ngModel)]="featureService.selectedFeature.planFeatureName" name="planFeatureName"
                      placeholder="Feature Name" required>
                    </div>

                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="planFeatureIcon"  [(ngModel)]="featureService.selectedFeature.planFeatureIcon" name="planFeatureIcon"
                      placeholder="Feature" required>
                    </div>
                  
                      <div class="text-center">
                      <button type="submit" class="submitbtm btn btn-info text-center text-white ">Add feature</button>
                      <!-- <input class="text-center" type="submit" value="add empoyee"> -->
                   </div>
                  </form> 
                    
                    <!-- Success message-->
                    <div class="success" *ngIf="showSucessMessage">
                      Saved successfully
                    </div> 
                    
                    <!-- Error message -->
                     <div class="alert" *ngIf="serverErrorMessages">
                      {{serverErrorMessages}}
                    </div>   
                    
                    
                </div>
            </div>
        </div>

    </div>

